body {
    margin:2em;
    font-family: serif;
    font-size: 1.2em;
    line-height: 1.45em;
}

.leaflet-tile {
	border: 1px solid red;
}

.leaflet-control-attribution {
	display: none;
}

a {
    font-weight: 700;
    text-decoration: none;
    color:  #c54b8c;
}

.hey-look {
    color: #f75394;
}

#chooser {
	display:block;
	text-align:center;
	width: 100%;
}

#container {
    width:600px !important;
}

#map {
    border: solid thin;
    width:90vw;
    height:600px !important;
}

#image {
	border-radius: 0;
	border: solid thin;
	font-size:1.5em;
	position: fixed;
	top: 6vh;
	right: 7.5vw;
	z-index:5000;
}

pre {
    font-size:small !important;
    line-height: 1.2em !important;
    color: darkslategrey;
}

#footer {
    margin-top:6em;
    text-align:right;
}

@media (max-width: 400px) {

    #container {
	width: 100% !important;
    }
    
    #map {
	width: 100% !important;
	height: 300px !important;
    }

    pre {
	max-width: 300px !important;
	x-overflow: scroll;
	white-space:pre-wrap;
    }
}
